@use '../abstracts' as *;

.favorite {
  align-items: center;
  position: relative;
}

.slider {
  display: flex;
  overflow: hidden;
  max-width: 100%;
}

.slider__slide-container {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.slider__slide {
  display: flex;
  flex-direction: column;
  max-width: $slide-size;
  gap: 1.5rem;

  .slide__figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}

.slider__arrow {
  border: none;
  &:hover {
    cursor: pointer;
  }

  & svg {
    fill: $bg-base-color;
    transition: all ease 0.5s;
  }
  &:hover svg {
    fill: $text-base-color;
  }
  & svg path {
    color: $text-base-color;
    transition: all ease 0.5s;
  }
  &:hover svg path {
    color: $bg-base-color;
  }
  & svg rect {
    color: $text-base-color;
  }

  &--left,
  &--right {
    position: absolute;
    top: 50%;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}

.slider__nav {
  display: flex;
  justify-content: center;
  gap: 0.75rem;

  .slider__indicator {
    width: 2.5rem;
    height: 5px;
    border: none;
    background-color: $border-light;
    &.current-slide {
      background-color: $border-dark;
    }
  }
}
