@use '../abstracts' as *;

.favorite {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  position: relative;

  .favorite_title {
    text-align: center;
  }
}

.slider {
  display: flex;
  overflow: hidden;
  max-width: 100%;
}

.slider_slide-container {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.slider_slide {
  display: flex;
  flex-direction: column;
  max-width: $slide-size;
  gap: 1.5rem;

  .slide_figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}

.slider_arrow {
  @include button();
  &:hover {
    cursor: pointer;
  }

  & svg {
    fill: $bg-base-color;
    transition: all ease 0.5s;
  }
  &:hover svg {
    fill: $text-base-color;
  }
  & svg path {
    color: $text-base-color;
    transition: all ease 0.5s;
  }
  &:hover svg path {
    color: $bg-base-color;
  }
  & svg rect {
    color: $text-base-color;
  }

  &--left,
  &--right {
    position: absolute;
    top: 50%;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}

.slider_nav {
  display: flex;
  justify-content: center;
  gap: 0.75rem;

  .slider_indicator {
    @include button(
      $width: 2.5rem,
      $height: 0.25rem,
      $bg-color: $border-light,
      $radius: 1rem
    );
    &.current-slide {
      background-color: $border-dark;
    }
  }
}
