@use '../abstracts' as *;

.header {
  margin: $header-margin;

  .nav_list {
    display: flex;
    gap: 2.75rem;

    & .nav_item {
      display: flex;
      align-items: center;
      &:first-child,
      &:last-child {
        flex-grow: 1;
      }
      &:last-child {
        justify-content: flex-end;
      }
    }

    .nav_link {
      &:not(:has(.logo_svg)) {
        @include underline($text-base-color);
      }

      &.menu_link {
        display: flex;
        gap: 0.6rem;
      }

      & .logo_svg {
        display: block;
      }
    }
  }
}
