@use '../abstracts' as *;

.hero-section {
  padding: $hero-padding;
  background-image: url('../assets/img/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $text-light-color;
  background-color: $fallback-bg-color;
  border-radius: 2.5rem;

  .hero_content {
    @extend %content;
    max-width: $hero-content-size;
    .hero_btn {
      @include button(
        $padding: $big-button-padding,
        $width: $big-button-width,
        $height: $big-button-height,
        $radius: $big-button-border-radius,
        $bg-color: $bg-base-color
      );
      position: relative;

      .hero_btn-text {
        position: absolute;
        left: 5rem;
        transition: ease, 0.5s;
      }

      .hero_btn-svg {
        position: absolute;
        right: 3.8rem;
        opacity: 0;
        transition:
          opacity ease,
          0.5s;
      }

      &:hover {
        cursor: pointer;
        & .hero_btn-text {
          transform: translateX(-12px);
        }
        & .hero_btn-svg {
          opacity: 1;
        }
      }
    }
  }
}
