@use '../abstracts' as *;

.hero {
  padding: $hero-padding;
  background-image: url('../assets/img/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $bg-base-color;
  background-color: $fallback-bg-color;
  border-radius: 2.5rem;

  .hero__content {
    max-width: $content-width;
    .hero__btn {
      background-color: $bg-base-color;
      border: none;
      position: relative;

      .hero__btn-text {
        position: absolute;
        left: 5rem;
        transition: ease, 0.5s;
      }

      .hero__btn-svg {
        position: absolute;
        right: 3.8rem;
        opacity: 0;
        transition:
          opacity ease,
          0.5s;
      }

      &:hover {
        cursor: pointer;
        & .hero__btn-text {
          transform: translateX(-12px);
        }
        & .hero__btn-svg {
          opacity: 1;
        }
      }
    }
  }
}
