@use '../abstracts' as *;

.mobile-app {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  &__store-buttons {
    display: flex;
    gap: 1.25rem;
  }

  &__content {
    justify-content: center;
  }

  &__store-button {
    display: flex;
    gap: 0.5rem;
    padding-left: 1.25rem;
    transition: all 0.5s ease;

    &:hover {
      color: $bg-base-color;
      background-color: $border-dark;
      & svg path {
        fill: $bg-base-color;
      }
    }
  }
}

.store-button__text {
  display: flex;
  flex-direction: column;
  text-align: left;
}
