@use '../abstracts' as *;

body {
  font-family: $base-font;
  font-weight: $base-weight;
  background-color: $bg-base-color;
  color: $text-base-color;
}

h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  letter-spacing: 0.09rem;
}

h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  letter-spacing: 0.02rem;
}

p {
  font-weight: $normal-weight;
  line-height: $description-line-height;
  letter-spacing: 0.005rem;
}

.base-flex {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.text-accent {
  color: $accent-color;
  font-style: $accent-style;
}

.btn {
  @extend %button;
  border: solid 1px $border-dark;
}

.btn-big {
  @extend .btn;
  padding: $big-button-padding;
  width: $big-button-width;
  height: $big-button-height;
}
