// background
$bg-base-color: #e1d4c9;
$fallback-bg-color: #904614;

// text
$text-base-color: #403f3d;
$text-light-color: #e1d4c9;
$accent-color: #b0907a;

// border
$border-dark: #665f55;
$border-light: #c1b6ad;
