@mixin underline($underlineColor, $condition) {
  &::before {
    content: '';
    position: absolute;
    top: 120%;
    left: 50%;
    opacity: 0;
    width: 0;
    height: 2px;
    background: $underlineColor;
    transition:
      width 0.5s ease,
      left 0.5s ease,
      opacity 0.5s linear;
    transform: translateY(50%);
  }
  @if $condition {
    &#{$condition}:hover::before {
      width: 100%;
      left: 0%;
      opacity: 1;
    }
  } @else {
    &:hover::before {
      width: 100%;
      left: 0%;
      opacity: 1;
    }
  }
}

@mixin button(
  $padding,
  $width,
  $height,
  $radius,
  $bg-color: inherit,
) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: $padding;
  width: $width;
  height: $height;
  border-style: none;
  border-radius: $radius;
  background-color: $bg-color;
}
