@mixin underline($underlineColor, $condition) {
  &::before {
    content: '';
    position: absolute;
    top: 120%;
    left: 50%;
    opacity: 0;
    width: 0;
    height: 2px;
    background: $underlineColor;
    transition: all 0.5s ease;
    transform: translateY(50%);
  }
  @if $condition {
    &#{$condition}:hover::before {
      width: 100%;
      left: 0%;
      opacity: 1;
    }
  } @else {
    &:hover::before {
      width: 100%;
      left: 0%;
      opacity: 1;
    }
  }
}

@mixin button(
  $padding: unset,
  $width: unset,
  $height: unset,
  $radius: unset,
  $bg-color: inherit,
  $border: none
) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding;
  width: $width;
  height: $height;
  border: $border;
  border-radius: $radius;
  background-color: $bg-color;
}
