@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$base-font: Inter;
$base-weight: 600;
$normal-weight: 400;
$xxl-fs: 4.5rem;
$xl-fs: 3.75rem;
$l-fs: 2rem;
$m-fs: 1.5rem;
$s-fs: 0.625rem;
$accent-style: italic;
