// size
$content-size: 1440px;
$hero-content-size: 530px;
$slide-size: 480px;
$big-button-width: 200px;
$big-button-height: 4rem;

// spacing
$header-margin: 1.25rem auto 1.25rem;
$hero-padding: 6.25rem 0 6.25rem 6.25rem;
$big-button-padding: 0 3.625rem 0 1.25rem;

// mis
$big-button-border-radius: 6.25rem;
